*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aside Marvel (navbar)*/
aside.left{
    height: calc(100vh - 80px);
    width: 150px;
    background-color: #e6e6e6;
    float: left;
}

.flex-container.marvel,
.flex-container.dc-comics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#icon{
    width:40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* Header (Search)*/
header{
    width: calc(100vw - 150px);
    height: 60px;
    float: left;
    background-color: #f2f2f2;
}

.flex-container.heroflix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    border: 1px solid black;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: black;
}

#heroflix{
    width: 67px;
    height: 67px;
    object-fit: contain;
    position: absolute;
}

h2{
    font-size: 16px;
    font-family: 'Bangers', cursive;
    position: relative;
    margin-left: 10px;
    color: red;
}


/* aside.right{
    height: calc(100vh - 80px);
    width: 150px;
    float: right;
    background-color:#e6e6e6;
} */

/* Main (Navigation)*/
main{
    width: calc(100vw - 150px);
    height: calc(100vh - 140px);
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
    overflow-y:scroll;
}

/* All flex-container inside main */
.flex-container.iron-man,
.flex-container.thor,
.flex-container.captain-america,
.flex-container.black-panther,
.flex-container.guardians-of-galaxy,
.flex-container.avengers,
.flex-container.doctor-strange{
    display: flex;
    text-align: center;
    padding-bottom: 30px;
    margin: 50px;
}

h5{
    font-weight: bolder;
}

.image{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
/* Overlay all div */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon:hover{
    color: white;
}

.fa-user:hover {
  color: #eee;
}

/* Iron-man */
.flex-container.iron-man{
    padding: 50px 0 50px;
}

.iron-man-1,
.iron-man-2,
.iron-man-3{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

.iron-man-1,
.iron-man-2{
    margin-right: 50px;
}

/* Overlay Iron-man */
.iron-man-1:hover .overlay,
.iron-man-2:hover .overlay,
.iron-man-3:hover .overlay {
  opacity: 0.5;
  border-radius: 10px;
}

/* Thor */
.thor-1,
.thor-the-dark-world,
.thor-ragnarok{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

.thor-1,
.thor-the-dark-world{
    margin-right: 50px;
}

/* Overlay thor */
.thor-1:hover .overlay,
.thor-the-dark-world:hover .overlay,
.thor-ragnarok:hover .overlay {
  opacity: 0.5;
  border-radius: 10px;
}

/* Captain America */
.captain-america-1,
.captain-america-the-winter-soldier,
.captain-america-civil-war{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

.captain-america-1,
.captain-america-the-winter-soldier{
    margin-right: 50px;
}

/* Overlay captain-americca */
.captain-america-1:hover .overlay,
.captain-america-the-winter-soldier:hover .overlay,
.captain-america-civil-war:hover .overlay {
  opacity: 0.5;
  border-radius: 10px;
}

/* Black Panther */
.black-panther{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

/* Overlay black-panther */
.black-panther:hover .overlay{
  opacity: 0.5;
  border-radius: 10px;
}

/* Guardians-of-Galaxy */
.guardians-of-galaxy-1,
.guardians-of-galaxy-2{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

.guardians-of-galaxy-1{
    margin-right: 50px;
}

/* Overlay guardians-of-galaxy */
.guardians-of-galaxy-1:hover .overlay,
.guardians-of-galaxy-2:hover .overlay{
  opacity: 0.5;
  border-radius: 10px;
}

/* Doctori Strange */
.doctor-strange-1{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

/* Overlay doctor-strange */
.doctor-strange:hover .overlay{
  opacity: 0.5;
  border-radius: 10px;
}

/* Avengers */
.avengers-1,
.avengers-age-of-ultron,
.avengers-infinity-war,
.avengers-end-game{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    border: .2px solid grey;
    padding: 20px 0 20px;
}

.avengers-1,
.avengers-age-of-ultron,
.avengers-infinity-war{
    margin-right: 50px;
}

/* Overlay doctor-strange */
.avengers-1:hover .overlay,
.avengers-age-of-ultron:hover .overlay,
.avengers-infinity-war:hover .overlay,
.avengers-end-game:hover .overlay{
  opacity: 0.5;
  border-radius: 10px;
}

/* Coming-soon */
section.marvel-studios{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: calc(100vw - 150px);
    height: 370px;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    padding-top: 20px;
}

#logo-marvel img{
    width:150px;
}

.icon-scroll{
    display: flex;
    justify-content: center;
}

.coming-soon{
    display: flex;
    flex-direction: row;
    flex: 1 1 200px;
    align-items: center;
    width: 95%;
    height: 250px;
    overflow-y: auto;
}

h4{
    font-family: 'Bangers', cursive;
    text-align: center;
}

img.freccia{
    width: 40px;
    height: 40px;
    object-fit: contain;
    position: relative;
    animation-name: swipe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes swipe {
    from{left: 0px;}
    to {left: 50%}
}

.coming-soon-image img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 0 20px;
}

/* App */
.bk--app{
    display: flex;
}

.flex-container.app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top:50px;
    padding-bottom: 30px;
}

h3{
    font-family: 'Bangers', cursive;
    font-weight: lighter;
}

.app{
    position: relative;
}

.iphone{
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.center-phone{
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
}

.top-phone{
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: absolute;
    top:0px;
}

.bottom-phone{
    width: 104px;
    height: 104px;
    object-fit: contain;
    position: absolute;
    bottom: 30px;
}


/* Footer */
footer{
    width: 100vw;
    height: 80px;
    float:left;
    background-color:#333333;
    color: white;
}

.flex-container.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.copertina{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

i.fas.fa-heart:hover{
    color: red;
}

a.load{
    width: 300px;
    border: 1px solid white;
    animation-name: load 3s infinite;
}

@keyframes load {
    from{left: 0px;}
    to {left: 50%}
}

{
    animation-name: volume 3s infinite;
}

@keyframes volume {

}
