*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aside Marvel (navbar)*/
aside{
    height: calc(100vh - 80px);
    width: 150px;
    background-color: #404040;
    float: left;
}

.flex-container.navigation{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.heroflix-logo{
    margin-bottom: 20px;
}

.aside-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroflix{
    width: 68px;
    height: 68px;
    object-fit: contain;
    position: absolute;
}

h2{
    font-size: 16px;
    font-family: 'Bangers', cursive;
    position: relative;
    margin-left: 4px;
    color: #e62e00;
    margin-bottom: 30px;
}

#icon{
    width:40px;
    height: 40px;
    object-fit: contain;
}

.aside-top span{
    color: white;
    font-size: 10px;
    padding-bottom: 15px;
}

i.fas.fa-user-circle{
    font-size: 15px;
    padding-bottom: 10px;
    color: white;
}

#line-user{
    height: 1px;
    border-radius: 5px;
    width: 130px;
    background-color: white;
    margin-bottom: 10px;
}

small.user{
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
}

/* Header (Search)*/
header{
    width: calc(100vw - 150px);
    height: 50px;
    float: left;
    background-color: black;
}

.flex-container.heroflix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

i.fas.fa-chevron-left,
i.fas.fa-chevron-right{
    color: white;
}

input{
    border: 1px solid black;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.btn:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

i.fas.fa-chevron-left:active,
i.fas.fa-chevron-right:active{
    color: #00e600;
}

i.fas.fa-chevron-left,
i.fas.fa-chevron-right{
    font-size: 25px;
}

i.fas.fa-user-circle:active{
    color: #00e600;
}

/* Main (Navigation)*/
main{
    width: calc(100vw - 150px);
    height: calc(100vh - 130px);
    float: left;
    background-color: black;
    overflow-y:scroll;
    color: black;
}

/* Description */
.flex-container.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

ul li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

ul li:hover,
ul li:active{
    border-bottom: 1px solid black;
}

.list:hover > i.fas.fa-angle-down{
    color: green;
}

i.fas.fa-angle-down{

    font-size: 15px;
}

li:active > i.fas.fa-angle-down{
    display: inline-table;
}

img.spiderman{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding-top: 20px;
    animation-name: spider;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes spider {
	0% { transform: rotate(0deg);}
	50% { transform: rotate(20deg);}
    25% {transform: rotate(-20deg);}
    100% { transform: rotate(0deg);}
}

/* All flex-container inside main */
.flex-container.iron-man,
.flex-container.thor,
.flex-container.captain-america,
.flex-container.black-panther,
.flex-container.guardians-of-galaxy,
.flex-container.avengers,
.flex-container.doctor-strange{
    display: flex;
    text-align: center;
    padding-bottom: 30px;
    margin: 50px;
}

/* .iron-man-1,
.iron-man-2,
.iron-man-3,
.thor-1,
.thor-the-dark-world,
.thor-ragnarok,
.captain-america-1,
.captain-america-the-winter-soldier,
.captain-america-civil-war,
.black-panther,
.guardians-of-galaxy-1,
.guardians-of-galaxy-2,
.doctor-strange-1,
.avengers-1,
.avengers-age-of-ultron,
.avengers-infinity-war,
.avengers-end-game{
    * / Volendo si poteva usare il ridimensionamento per accostarle, ma ho preferito lasciarne una ad una per
    perchè sembrava più "carino" visivamente!
    /* flex:0 0 25%;
    height: 500px; */
}

h5{
    font-weight: bolder;
    font-family: 'Bangers', cursive;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.image{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* Overlay all div */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon:hover{
    color: white;
}

.fa-user:hover {
  color: #eee;
}

/* Iron-man */
.flex-container.iron-man{
    padding: 50px 0 50px;
}

.iron-man-1,
.iron-man-2,
.iron-man-3{
    position: relative;
    /* border-radius: 10px; */
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
    border: 1px solid white;
}

.iron-man-1,
.iron-man-2{
    margin-right: 50px;
}

.iron-man-1:hover,
.iron-man-2:hover,
.iron-man-3:hover{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay Iron-man */
.iron-man-1:hover .overlay,
.iron-man-2:hover .overlay,
.iron-man-3:hover .overlay {
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Thor */
.thor-1,
.thor-the-dark-world,
.thor-ragnarok{
    position: relative;
    /* border-radius: 10px; */
    border: 1px solid white;
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
}

.thor-1,
.thor-the-dark-world{
    margin-right: 50px;
}

.thor-1:hover,
.thor-the-dark-world:hover,
.thor-ragnarok:hover{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay thor */
.thor-1:hover .overlay,
.thor-the-dark-world:hover .overlay,
.thor-ragnarok:hover .overlay {
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Captain America */
.captain-america-1,
.captain-america-the-winter-soldier,
.captain-america-civil-war{
    position: relative;
    /* border-radius: 10px; */
    border: 1px solid white;
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
}

.captain-america-1,
.captain-america-the-winter-soldier{
    margin-right: 50px;
}

.captain-america-1:hover,
.captain-america-the-winter-soldier:hover,
.captain-america-civil-war:hover{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay captain-americca */
.captain-america-1:hover .overlay,
.captain-america-the-winter-soldier:hover .overlay,
.captain-america-civil-war:hover .overlay {
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Black Panther */
.black-panther{
    position: relative;
    /* border-radius: 10px; */
    border: 1px solid white;
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
}

.black-panther:hover{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay black-panther */
.black-panther:hover .overlay{
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Guardians-of-Galaxy */
.guardians-of-galaxy-1,
.guardians-of-galaxy-2{
    position: relative;
    /* border-radius: 10px; */
    border: 1px solid white;
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
}

.guardians-of-galaxy-1{
    margin-right: 50px;
}

.guardians-of-galaxy-1:hover,
.guardians-of-galaxy-2:hover{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay guardians-of-galaxy */
.guardians-of-galaxy-1:hover .overlay,
.guardians-of-galaxy-2:hover .overlay{
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Doctori Strange */
.doctor-strange-1{
    position: relative;
    /* border-radius: 10px; */
    border: 1px solid white;
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
}

.doctor-strange-1{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay doctor-strange */
.doctor-strange:hover .overlay{
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Avengers */
.avengers-1,
.avengers-age-of-ultron,
.avengers-infinity-war,
.avengers-end-game{
    position: relative;
    /* border-radius: 10px; */
    border: 1px solid white;
    padding: 20px 10px 20px;
    background-color: #8c8c8c;
}

.avengers-1,
.avengers-age-of-ultron,
.avengers-infinity-war{
    margin-right: 50px;
}

.avengers-1:hover,
.avengers-age-of-ultron:hover,
.avengers-infinity-war:hover,
.avengers-end-game:hover{
    box-shadow: 10px 10px 5px #ededed;
}

/* Overlay doctor-strange */
.avengers-1:hover .overlay,
.avengers-age-of-ultron:hover .overlay,
.avengers-infinity-war:hover .overlay,
.avengers-end-game:hover .overlay{
  opacity: 0.5;
  /* border-radius: 10px; */
}

/* Coming-soon */
.marvel-studios{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: calc(100vw - 150px);
    height: 370px;
    border: 1px solid #8c8c8c;
    border-style: solid hidden solid hidden;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    padding-top: 20px;
}

#logo-marvel img{
    width:150px;
}

.icon-scroll{
    display: flex;
    justify-content: center;
}

.coming-soon{
    display: flex;
    flex-direction: row;
    flex: 1 1 200px;
    align-items: center;
    width: 95%;
    height: 250px;
    overflow-y: auto;
}

h4{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Bangers', cursive;
}

i.fas.fa-angle-double-right{
    font-size: 40px;
    object-fit: contain;
    position: relative;
    animation-name: swipe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;
}

@keyframes swipe {
    from{left: 0px;}
    to {left: 50%}
}

.coming-soon-image img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 0 20px;
}

/* Slide DC */
#slider{
    margin-top: 50px;
    margin-bottom: 100px;
}

#slider h2{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    color: white;
}

#slider img.dc-universe{
    width: 70px;
    height: 70px;
    object-fit: contain;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slidy infinite;
}

#slider img{
    height: 400px;
    width: 400px;
    object-fit: contain;
}

/* App */
.flex-container.app{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top:50px;
    padding-bottom: 10px;
    width: calc(100vw - 150px);
    color:white;
    border: 1px solid #8c8c8c;
    border-style: solid hidden solid hidden;

}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

i.fab.fa-apple,
i.fas.fa-robot,
i.fab.fa-linux{
    font-size: 40px;
    color: white;
}

i.far.fa-hand-point-left{
    font-size: 30px;
    position: relative;
    animation-name: yup;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;
}

@keyframes yup {
    from{left: 320px;}
    to {left: 0px;}
}

/* Social */
.flex-container.social-sponsor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color:;
    padding-top: 100px;
}

i.fab.fa-facebook,
i.fab.fa-instagram,
i.fab.fa-twitter,
i.fab.fa-youtube{
    font-size: 20px;
}

.social-sponsor,
.marvel-studios{
    padding-top: 30px;
}

.social-sponsor img,
.social-sponsor i{
    width:50px;
    height: 50px;
    object-fit: contain;
}

.fa-facebook{
    color:blue;
}

.fa-instagram{
    color:orange;
}

.fa-twitter{
    color: #00aced;
}

.fa-youtube{
    color:red;
}

/* Footer */
footer{
    width: 100vw;
    height: 80px;
    float:left;
    background-color:#404040;
    color: white;
    border: 1px solid white;
    border-style: solid hidden hidden hidden;
}

.flex-container.footer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.copertina{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

i.fas.fa-heart:active{
    color: red;
    font-size: 20px;
}

.center-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row;
}

i.fas.fa-red,
i.fas.fa-pause-circle,
i.fas.fa-play-circle,
i.fas.fa-stop-circle,
i.fas.fa-video-slash,
i.fas.fa-podcast,
i.fas.fa-volume-up{
    font-size: 25px;
    margin-right:20px;
}

i.fas.fa-pause-circle:active,
i.fas.fa-play-circle:active,
i.fas.fa-stop-circle:active,
i.fas.fas-video-slash:active,
i.fas.fa-podcast:active,
i.fas.fa-volume-up:active{
    font-size: 28px;
    color: #00e600;
}

i.fas.fa-play-circle:active > .load-bar,
i.fas.fa-stop-circle:active > .load-bar,
i.fas.fa-pause-circle:active > .load-bar{
    background-color: green;
}

small.love-iron-man{
    font-family: 'Montserrat', sans-serif;
}

/* .load-bar{
    position: absolute;
    bottom:33px;
    left:300px;
    background: red;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    animation-name: load;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#line{
    height: 5px;
    border-radius: 5px;
    width: 300px;
    background-color: white;
    margin-top: 10px;
} */

.timer{
    position: relative;
}

.load-bar{
    position: absolute;
    background: red;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    animation-name: load;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

#line{
    height: 5px;
    border-radius: 5px;
    width: 300px;
    background-color: white;
}

@keyframes load {
    0%   {left: 0;}
    100% {left:96%;}
}

small.timer-start{
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    margin-top: 3px;
}

small.timer-end{
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: 3px;
}

.load-bar-vol{
    position: absolute;
    background: red;
    width: 8px;
    height: 7px;
    border-radius: 5px;
    animation-name: load-vol;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#line-vol{
    height: 5px;
    border-radius: 5px;
    width: 50px;
    background-color: white;
    margin-right: 20px;

}

@keyframes load-vol {
    0%   {left: 0;}
    100% {left: 60%;}
}


/* @Media */
/* Max 768 */
@media screen and (max-width: 768px){
    aside{
        width: 50px;
        height: calc(100vh - 60px);
    }

    #heroflix{
        width: 35px;
        height: 35px;
        object-fit: contain;
        position: absolute;
        margin-top: 7px;
    }

    #icon{
        width:35px;
        height: 35px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    h2{
        font-size: 10px;
        font-family: 'Bangers', cursive;
        position: relative;
        margin-left: 3px;
        color: red;
    }

    .aside-top span{
        display: none;
    }

    #line-user,
    small.user{
        display: none;
    }

    /* Header */
    header{
        width: calc(100vw - 50px);
    }

    i.fas.fa-chevron-left,
    i.fas.fa-chevron-right,
    .btn.search{
        display: none;
    }

    /* Main */
    main{
        width: calc(100vw - 50px);
        height: calc(100vh - 110px);
    }

    ul li{
        padding-left: 25px;
    }

    img.spiderman{
        margin-left: 100px;
    }

    .flex-container.iron-man,
    .flex-container.thor,
    .flex-container.captain-america,
    .flex-container.black-panther,
    .flex-container.guardians-of-galaxy,
    .flex-container.avengers,
    .flex-container.doctor-strange{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .iron-man-1,
    .iron-man-2,
    .iron-man-3,
    .thor-1,
    .thor-the-dark-world,
    .thor-ragnarok,
    .captain-america-1,
    .captain-america-the-winter-soldier,
    .captain-america-civil-war,
    .black-panther,
    .guardians-of-galaxy-1,
    .guardians-of-galaxy-2,
    .doctor-strange-1,
    .avengers-1,
    .avengers-age-of-ultron,
    .avengers-infinity-war,
    .avengers-end-game{
        margin: 0 auto;
        margin-bottom: 20px;
        /* Volendo si poteva usare il ridimensionamento per accostarle, ma ho preferito lasciarne una ad una per
        perchè sembrava più "carino" visivamente in modalità xs! */
        /* flex:0 0 25%;
        height: 500px; */
    }

    /* Coming-soon */
    .marvel-studios{
        width: calc(100vw - 50px);
        height: 370px;
    }

    /* App */
    .flex-container.app{
        width: calc(100vw - 50px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .download{
        margin-bottom: 20px;
        margin-left:50px;
        padding-bottom: 20px;
    }

    .download h3{
        font-size: 30px;
    }

    @keyframes yup {
        from{left: 100px;}
        to {left: 0px;}
    }

    .phone{
        display: none;
    }

    /* Footer */
    footer{
        height: 60px;
        font-size: 10px;
    }

    img.copertina{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    i.fas.fa-red,
    i.fas.fa-pause-circle,
    i.fas.fa-play-circle,
    i.fas.fa-stop-circle,
    i.fas.fa-video-slash,
    i.fas.fa-podcast,
    i.fas.fa-volume-up{
        font-size: 15px;
        margin-right: 10px;
    }

    i.fas.fa-pause-circle:active,
    i.fas.fa-play-circle:active,
    i.fas.fa-stop-circle:active,
    i.fas.fas-video-slash:active,
    i.fas.fa-podcast:active,
    i.fas.fa-volume-up:active{
        font-size: 18px;
        color: #00e600;
    }


    #line{
        height: 5px;
        border-radius: 5px;
        width: 50px;
        background-color: white;
    }

    .load-bar{
        animation-duration: 10s;

    }

    @keyframes load {
        0%   {left: 0;}
        100% {left:80%;}
    }

    #line-vol{
        height: 5px;
        border-radius: 5px;
        width: 50px;
        background-color: white;
        margin-top: 10px;
    }

}

/* Min 768 */
@media screen and (min-width: 768px){
    /* Footer */
    i.fas.fa-red,
    i.fas.fa-pause-circle,
    i.fas.fa-play-circle,
    i.fas.fa-stop-circle,
    i.fas.fa-video-slash,
    i.fas.fa-podcast,
    i.fas.fa-volume-up{
        font-size: 13px;
        margin-right: 5px;
    }

    small.timer-start{
        font-family: 'Montserrat', sans-serif;
        margin-right: 15px;
        margin-top: 3px;
    }

    small.timer-end{
        font-family: 'Montserrat', sans-serif;
        margin-left: 15px;
        margin-top: 3px;
    }
}

/* Min 992 */
@media screen and (min-width: 992px){
    /* Footer */
    small.timer-start{
        font-family: 'Montserrat', sans-serif;
        margin-right: 15px;
        margin-top: 3px;
    }

    small.timer-end{
        font-family: 'Montserrat', sans-serif;
        margin-left: 15px;
        margin-top: 3px;
    }

}

/* Max 992 */
@media screen and (max-width: 992px){

}
