*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aside Marvel (navbar)*/
aside.left{
    height: calc(100vh - 50px);
    width: 150px;
    background-color: #e6e6e6;
    float: left;
}

.flex-container.marvel,
.flex-container.dc-comics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#icon{
    width:40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 20px;
}
/* Header (Search)*/
header{
    width: calc(100vw - 300px);
    height: 60px;
    float: left;
    background-color: #f2f2f2;
}

.flex-container.heroflix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    border: 1px solid black;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: black;
}

#heroflix{
    width: 67px;
    height: 67px;
    object-fit: contain;
    position: absolute;
}

h2{
    font-size: 16px;
    font-family: 'Bangers', cursive;
    position: relative;
    margin-left: 10px;
    color: red;
}

/* Aside right (navbar)*/
aside.right{
    height: calc(100vh - 50px);
    width: 150px;
    float: right;
    background-color:#e6e6e6;
}

/* Main (Navigation)*/
main{
    width: calc(100vw - 300px);
    height: calc(100vh - 110px);
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ededed;
    overflow-y:scroll;
}

/* All flex-container inside main */
.flex-container.iron-man,
.flex-container.thor,
.flex-container.captain-america,
.flex-container.black-panther,
.flex-container.guardians-of-galaxy,
.flex-container.avengers{
    display: flex;
    text-align: center;
    padding-bottom: 50px;
    margin:20px;
}

/* Iron-man */
.flex-container.iron-man{
    padding: 50px 0 50px;
    margin:20px;
}

.image{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.iron-man-1,
.iron-man-2,
.iron-man-3{
    position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.iron-man-1:hover .overlay,
.iron-man-2:hover .overlay,
.iron-man-3:hover .overlay {
  opacity: 0.5;
  border-radius: 30px;
}

.icon {
  color: black;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.bk--red:hover{
    /* background-image: linear-gradient(to bottom right,  #ff4d4d, #ffff80) */
}

/* Thor */

.bk--grey:hover{
    /* background-color: #f1f1f1; */
}

/* Captain America */

.bk--blue:hover{
    /* background-image: linear-gradient(to bottom right, #66b3ff, white, #ff8080) */
}

/* Black Panther */


/* Guardians-of-Galaxy */


/* Avengers */


/* Coming-soon */
section.marvel-studios{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: calc(100vw - 300px);
    height: 300px;
    border-radius: 20px;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    padding-top: 20px;
}

#logo-marvel img{
    width:150px;
}

.icon-scroll{
    display: flex;
    justify-content: center;
}

.coming-soon{
    display: flex;
    flex-direction: row;
    flex: 1 1 200px;
    align-items: center;
    width: 95%;
    height: 250px;
    overflow-y: auto;
}

h4{
    font-family: 'Bangers', cursive;
    text-align: center;
}

.coming-soon-image img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 0 20px;
}



/* Footer */
footer{
    width: 100vw;
    height: 50px;
    float:left;
    background-color:#333333;
}
